<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password | MRP Factory 4.0</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div id="changePasswordApp" class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Change Password</h4>
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" v-model="currentPassword" class="form-control" placeholder="Enter current password">
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" v-model="newPassword" class="form-control" placeholder="Enter new password">
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" v-model="confirmPassword" class="form-control" placeholder="Confirm new password">
                        </div>
                        <button @click="changePassword" class="btn btn-success btn-block">Change Password</button>
                        <p v-if="message" class="text-success mt-2 text-center">{{ message }}</p>
                        <p v-if="errorMessage" class="text-danger mt-2 text-center">{{ errorMessage }}</p>
                        <p class="text-center mt-2">
                            <a href="index.html">Back to Home</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: "#changePasswordApp",
            data: {
                currentPassword: "",
                newPassword: "",
                confirmPassword: "",
                message: "",
                errorMessage: ""
            },
            methods: {
                changePassword() {
                    if (this.currentPassword !== "admin123") {
                        this.errorMessage = "Current password is incorrect!";
                        this.message = "";
                    } else if (this.newPassword !== this.confirmPassword) {
                        this.errorMessage = "New passwords do not match!";
                        this.message = "";
                    } else {
                        this.message = "Password changed successfully!";
                        this.errorMessage = "";
                    }
                }
            }
        });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
