<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manufacturing Automation and Robotic Engineering</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- Graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- เช็กการล็อกอิน -->
    <script>
        if (!localStorage.getItem("isLoggedIn")) {
            window.location.href = "login.html"; // ถ้ายังไม่ได้ล็อกอิน ให้ไปที่หน้า Login
        }
    </script>
    
</head>
<body>
    <div id="crudApp" class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a href="index.html" class="nav-link">
                                <i data-feather="home"></i>
                                <span>HOME</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#submenuMRP" class="nav-link" data-toggle="collapse">
                                <i data-feather="file"></i>
                                <span>MRP Factory 4.0</span>
                            </a>
                            <div class="collapse" id="submenuMRP">
                                <ul class="nav flex-column pl-3">
                                    <li class="nav-item"><a href="overview_mrp.html" class="nav-link">Overview</a></li>
                                    <li class="nav-item"><a href="station_1.html" class="nav-link">Station 1</a></li>
                                    <li class="nav-item"><a href="station_2.html" class="nav-link">Station 2</a></li>
                                    <li class="nav-item"><a href="station_3.html" class="nav-link">Station 3</a></li>
                                    <li class="nav-item"><a href="station_4_NG.html" class="nav-link">Station 4 NG</a></li>
                                    <li class="nav-item"><a href="station_4_OK.html" class="nav-link">Station 4 OK</a></li>
                                    <li class="nav-item"><a href="station_5.html" class="nav-link">Station 5</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#submenuCONWIP" class="nav-link" data-toggle="collapse">
                                <i data-feather="file"></i>
                                <span>CONWIP Factory 4.0</span>
                            </a>
                            <div class="collapse" id="submenuCONWIP">
                                <ul class="nav flex-column pl-3">
                                    <li class="nav-item"><a href="overview_conwip.html" class="nav-link">Overview</a></li>
                                    <li class="nav-item"><a href="station_01.html" class="nav-link">Station 1</a></li>
                                    <li class="nav-item"><a href="station_02.html" class="nav-link">Station 2</a></li>
                                    <li class="nav-item"><a href="station_03.html" class="nav-link">Station 3</a></li>
                                    <li class="nav-item"><a href="station_04_NG.html" class="nav-link">Station 4 NG</a></li>
                                    <li class="nav-item"><a href="station_04_OK.html" class="nav-link">Station 4 OK</a></li>
                                    <li class="nav-item"><a href="station_05.html" class="nav-link">Station 5</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i data-feather="settings"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="change_password.html" class="nav-link">
                                <i data-feather="key"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <!-- ปุ่ม Logout -->
                        <li class="nav-item">
                            <a href="#" class="nav-link" @click="logout">
                                <i data-feather="log-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <!-- Main Content -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <h3 class="mt-4 text-center">Factory 4.0 CONWIP</h3>
                <!-- <h3 class="mt-4 text-center">Station 1 Distribution</h3> -->
                

                <!-- กราฟ Station 1-3 แสดงในแถวเดียวกัน -->
                <div class="row mt-5 text-center">
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 1</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTime.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart"></canvas>
                    </div>
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 2</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTimeStation2.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart2"></canvas>
                    </div>
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 3</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTimeStation3.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart3"></canvas>
                    </div>
                </div>

                <!-- กราฟ Station 4-5 แสดงในแถวเดียวกัน -->
                <div class="row mt-5 text-center">
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 4 OK</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTimeStation4_ok.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart4_ok"></canvas>
                    </div>
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 4 NG</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTimeStation4_ng.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart4_ng"></canvas>
                    </div>
                    <div class="col-md-4">
                        <h5>กราฟแสดง cycle time ของ Station 5</h5>
                        <h4 class="mt-4 text-center">AVG cycle time: {{ averageCycleTimeStation5.toFixed(2) }} sec</h4>
                        <canvas id="cycleTimeChart5"></canvas>
                    </div>
                </div>

                <div class="form-group">
                    <label for="downtimeInput">เวลาหยุดเครื่อง (นาที):</label>
                    <!-- <input type="number" id="downtimeInput" class="form-control" v-model.number="downtimeMinutes" min="0" /> -->
                    <input type="number" id="downtimeInput" class="form-control" v-model.number="downtimeMinutes" @input="calculateOEE" min="0" />

                </div>

                <button class="btn btn-primary" @click="calculateOEE">คำนวณ OEE</button>

                <div v-if="oee">
                    <h4>ค่า OEE: {{ oee.toFixed(2) }}%</h4>
                </div>





                <div class="row mt-5">
                    <div class="col">
                        <h4 class="text-center">ตารางรวมข้อมูล Station 1 และ Station 5</h4>
                        <table class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">in Station 1 </th>
                                    <th class="text-center">out Station 1 </th>
                                    <th class="text-center">in Station 2 </th>
                                    <th class="text-center">out Station 2</th>
                                    <th class="text-center">in Station 3 </th>
                                    <th class="text-center">out Station 3</th>
                                    <th class="text-center">in Station 4 ok </th>
                                    <th class="text-center">out Station 4 ok</th>
                                    <th class="text-center">in Station 5 </th>
                                    <th class="text-center">out Station 5</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in combinedTableData" :key="row.timestamp_station1">
                                    <td class="text-center" class="col-No">{{ row.timestamp_station1_No}}</td>
                                    <td class="text-center">{{ row.timestamp_station1_in }}</td>
                                    <td class="text-center">{{ row.timestamp_station1 }}</td>
                                    <td class="text-center">{{ row.timestamp_station2_in }}</td>
                                    <td class="text-center">{{ row.timestamp_station2 }}</td>
                                    <td class="text-center">{{ row.timestamp_station3_in }}</td>
                                    <td class="text-center">{{ row.timestamp_station3 }}</td>
                                    <td class="text-center">{{ row.timestamp_station4_ok_in }}</td>
                                    <td class="text-center">{{ row.timestamp_station4_ok }}</td>
                                    <td class="text-center">{{ row.timestamp_station5_in }}</td>
                                    <td class="text-center">{{ row.timestamp_station5 }}</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
                
                
                  

                <!-- Table for fetched data -->
                <!-- <div class="table-responsive mt-4" style="width: 60%; margin: auto;"> -->
                    <!-- <table class="table table-bordered table-striped" style="width: 100%;"> -->
                        <!-- <thead> -->
                            <!-- <tr class="text-center"> -->
                                <!-- <th class="col-No">No.</th> -->
                                <!-- <th class="col-Date">Date</th> -->
                                <!-- <th class="col-Timestamp">Timestamp</th> -->
                                <!-- <th class="col-Cycle Time">Cycle Time(sec)</th> -->
                            <!-- </tr> -->
                        <!-- </thead> -->
                        <!-- <tbody class="text-center"> -->
                            <!-- <tr v-for="(row, index) in allData" :key="index"> -->
                                <!-- <td class="col-No">{{ row.No  }}</td> -->
                                <!-- <td class="col-Date">{{ formatDate(row.date) }}</td> -->
                                <!-- <td class="col-Timestamp">{{ row.timestamp }}</td> -->
                                <!-- <td class="col-Cycle">{{ row.cycletime }}</td> -->
                            <!-- </tr> -->
                        <!-- </tbody> -->
                    <!-- </table> -->
                <!-- </div> -->

               
            </main>
        </div>
    </div>
                

                <!-- Chart ของ Station 4 ok -->
                <!-- <div class="mt-5" style="width: 25%; margin: auto;"> -->
                    <!-- <h5 >กราฟแสดง cycle time ของ Station 4 OK</h5> -->
                    <!-- <canvas id="cycleTimeChart4_ok"></canvas> -->
                <!-- </div> -->

              
               
            </main>
        </div>
    </div>

    <!-- Vue.js Application -->
    <script>
        var application = new Vue({
            el: "#crudApp",
            data: {
                allData: [],
                station2Data: [],     
                station3Data: [],   
                station4_okData: [],   
                station4_ngData: [],    
                station5Data: [],      // ✅ เพิ่มตรงนี้
                mergedData: [],       // 🆕 ตารางที่รวมข้อมูลทั้งสอง
                chart: null, // เพิ่มตัวแปรเก็บกราฟ
                chart2: null, 
                chart3: null,  
                chart4_ok: null,  
                chart4_ng: null,  
                chart5: null,              // ✅ เพิ่มตรงนี้
                downtimeMinutes: 0,
                oee: 0
                


            }, 
            
            methods: {
                fetchAllData: function () {
                    // Station 1
                    axios
                      .get("http://localhost:3000/station1_CONWIP") // เปลี่ยน URL ให้ตรงกับ API route
                      .then((response) => {
                        this.allData = response.data;
                        this.renderChart(); // เรียกหลังได้ข้อมูล.....................................................
                      })
                      .catch((error) => {
                        console.error("❌ Error fetching data:", error);
                      });

                      // Station 2
                    axios
                        .get("http://localhost:3000/station2_CONWIP") // เปลี่ยน URL ตามจริง
                        .then((response) => {
                        this.station2Data = response.data;
                        this.renderChart2(); // แสดงกราฟ Station 2
                     })
                    .catch((error) => {
                        console.error("❌ Error fetching Station 2 data:", error);
                    });

                    // Station 3
                    axios
                        .get("http://localhost:3000/station3_CONWIP") // เปลี่ยน URL ตามจริง
                        .then((response) => {
                        this.station3Data = response.data;
                        this.renderChart3(); // แสดงกราฟ Station 3
                     })
                    .catch((error) => {
                        console.error("❌ Error fetching Station 3 data:", error);
                    });

                    // Station 4 ok
                    axios
                        .get("http://localhost:3000/station4_CONWIP_OK") // เปลี่ยน URL ตามจริง
                        .then((response) => {
                        this.station4_okData = response.data;
                        this.renderChart4_ok(); // แสดงกราฟ Station 4_ok
                     })
                    .catch((error) => {
                        console.error("❌ Error fetching Station 4_ok data:", error);
                    });

                    // Station 4 ng
                    axios
                        .get("http://localhost:3000/station4_CONWIP_NG") // เปลี่ยน URL ตามจริง
                        .then((response) => {
                        this.station4_ngData = response.data;
                        this.renderChart4_ng(); // แสดงกราฟ Station 4_ng
                     })
                    .catch((error) => {
                        console.error("❌ Error fetching Station 4_ng data:", error);
                    });

                    // Station 5
                    axios
                        .get("http://localhost:3000/station5_CONWIP") // เปลี่ยน URL ตามจริง
                        .then((response) => {
                        this.station5Data = response.data;
                        this.renderChart5(); // แสดงกราฟ Station 5
                     })
                    .catch((error) => {
                        console.error("❌ Error fetching Station 5 data:", error);
                    });

                    
                  },

                  calculateOEE: function () {
                    const plannedProductionTime = 8 * 60 * 60; // 8 ชั่วโมงในวินาที
                    const downtimeSeconds = this.downtimeMinutes * 60;
                    const runTime = plannedProductionTime - downtimeSeconds;

                    // รวม cycle time ของทุก station
                    const totalCycleTime = [
                        this.allData,
                        this.station2Data,
                        this.station3Data,
                        this.station4_okData,
                        this.station4_ngData,
                        this.station5Data
                    ].reduce((sum, item) => sum + parseFloat(item.cycletime), 0);

                    const totalUnits = this.station4_okData.length + this.station4_ngData.length;
                    const goodUnits = this.station4_okData.length;
                    const idealCycleTime = 130.2; // 60 วินาทีต่อหน่วย

                    const availability = runTime / plannedProductionTime;
                    const performance = (totalUnits * idealCycleTime) / runTime;
                    const quality = goodUnits / totalUnits;

                    this.oee = availability * performance * quality * 100;
                    },
                    


                  fetchStation5Data: function () {
                    axios
                      .get("http://localhost:3000/station5_CONWIP") // เปลี่ยน URL ให้ตรงกับ API
                      .then((response) => {
                        this.station5Data = response.data;
                        this.combineStation1And5(); // เรียกฟังก์ชันรวมข้อมูลหลังโหลดเสร็จ
                      })
                      .catch((error) => {
                        console.error("❌ Error fetching Station 5 data:", error);
                      });
                },
                
                combineStation1And5: function () {
                    this.combinedTableData = [];
                  
                    // สร้าง Map จาก No เพื่อ lookup ข้อมูลเร็ว
                    const mapStation1 = new Map(this.allData.map(item => [item.No, item]));
                    const mapStation2 = new Map(this.station2Data.map(item => [item.No, item]));
                    const mapStation3 = new Map(this.station3Data.map(item => [item.No, item]));
                    const mapStation4_OK = new Map(this.station4_okData.map(item => [item.No, item]));
                    const mapStation5 = new Map(this.station5Data.map(item => [item.No, item]));
                  
                    // วนลูปจาก station1 เป็นหลัก เพราะมันมักเป็นข้อมูลต้นทาง
                    for (const [No, station1] of mapStation1.entries()) {
                      const station2 = mapStation2.get(No);
                      const station3 = mapStation3.get(No);
                      const station4 = mapStation4_OK.get(No);
                      const station5 = mapStation5.get(No);
                  
                      // เช็คว่ามีข้อมูลทุก station ก่อน push
                      if (station1 && station2 && station3 && station4 && station5) {
                        this.combinedTableData.push({
                          timestamp_station1_No: No,
                          timestamp_station1_in: station1.start_time,
                          timestamp_station1: station1.timestamp,
                          timestamp_station2_in: station2.start_time,
                          timestamp_station2: station2.timestamp,
                          timestamp_station3_in: station3.start_time,
                          timestamp_station3: station3.timestamp,
                          timestamp_station4_ok_in: station4.start_time,
                          timestamp_station4_ok: station4.timestamp,
                          timestamp_station5_in: station5.start_time,
                          timestamp_station5: station5.timestamp,
                        });
                      }
                    }
                  
                    console.log("✅ Combined Filtered Data:", this.combinedTableData);
                  }
                  ,

        
                  
                

                logout: function () {
                    localStorage.removeItem("isLoggedIn");
                    window.location.href = "login.html";
                },
                formatDate: function (dateString) {
                    const options = { year: "numeric", month: "long", day: "numeric" };
                    return new Date(dateString).toLocaleDateString("en-US", options);
                },
            
            },

            watch: {
                        downtimeMinutes: function () {
                            this.calculateOEE();  // คำนวณ OEE ใหม่เมื่อเวลาหยุดเครื่องมีการเปลี่ยนแปลง
                        }
                    },
                    
            computed: {
                averageCycleTime() {
                    if (this.allData.length === 0) return 0;
            
                    const totalCycleTime = this.allData.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.allData.length;
                },
                averageCycleTimeStation2() {
                    if (this.station2Data.length === 0) return 0;
            
                    const totalCycleTime = this.station2Data.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.station2Data.length;
                },
                averageCycleTimeStation3() {
                    if (this.station3Data.length === 0) return 0;
            
                    const totalCycleTime = this.station3Data.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.station3Data.length;
                },
                averageCycleTimeStation4_ok() {
                    if (this.station4_okData.length === 0) return 0;
            
                    const totalCycleTime = this.station4_okData.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.station4_okData.length;
                },
                averageCycleTimeStation4_ng() {
                    if (this.station4_ngData.length === 0) return 0;
            
                    const totalCycleTime = this.station4_ngData.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.station4_ngData.length;
                },
                averageCycleTimeStation5() {
                    if (this.station5Data.length === 0) return 0;
            
                    const totalCycleTime = this.station5Data.reduce((sum, item) => sum + parseFloat(item.cycletime), 0);
                    return totalCycleTime / this.station5Data.length;
                },
                
            },
            
            

            created: function () {
                this.fetchAllData();
                Promise.all([
                  axios.get("http://localhost:3000/station1_CONWIP"),
                  axios.get("http://localhost:3000/station5_CONWIP")
                ])
                  .then(([response1, response5]) => {
                    this.allData = response1.data;
                    this.station5Data = response5.data;
                    this.combineStation1And5(); // จับคู่ข้อมูลเมื่อโหลดครบทั้งสองแล้ว
                  })
                  .catch((error) => {
                    console.error("❌ Error loading station data:", error);
                  });
              }
              

            
        });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
